<div class="span6 offset4 text-center steamy-hottub">

	<h1 class="custom-font-h1">Arbiter</h1>

	<h2 class="custom-font-h2">Your personal decision-maker</h2>

	<%= link_to 'Decide Now!', '#', :class => 'btn btn-warning btn-large' %>

</div>