<div class="span6 offset4 text-center steamy-hottub">

	<h1 class="custom-font-h1">My app</h1>

	<h2 class="custom-font-h2">Your personal decision-maker</h2>

	<%= link_to 'My app!', pics_path, :class => 'btn btn-warning btn-large' %>

</div>