@import url(http://fonts.googleapis.com/css?family=Fauna+One);

/*This site was hacked together by Marco with lots of hot tub power*/
.navbar-inner{
	font-family: "Fauna One";
}

.steamy-hottub {
	box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
	background-color: rgba(36,32,33,0.50);
	padding: 1%;
	margin-top: 5px;
}

body{
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.custom-font-h1 {
	color:white;
	font-family: "Fauna One", Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 100;
	font-size: 64px;
	font-weight: 100;
	font-size: 64px;
	line-height: 60px;
}

.custom-font-h2{
	color:white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 200;
	font-size: 34px;
}

.steamy-hottub-data{
	color:white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 200;
	font-size: 34px;
}

.btn-warning{
	font-family: Arial , Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
}

h3 {
	color:white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
	font-weight: 200;
	font-size: 12pt;
}

label {
	color:white;
	font-family: "Fauna One", Helvetica Neue, Helvetica, san-serif;
	font-weight: 200;
	font-size: 15pt;
}

#pic_image{
	margin-left:200px;
	color:orange;
}